body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-image: url("/uploads/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    min-height: 100vh;
}